.forecast-title {
  font-size: 24px;
  font-weight: 600;
}

.accordion-container {
  margin-top: 16px;
}

.daily-item {
  background-color: var(--sky-100);
  border-radius: 4px 4px 0 0;
  margin-bottom: 8px;
  height: 40px;
  border: 1px solid #00000010;
  z-index: 1;

  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 24px 16px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  transform: rotate(0deg);
}

.daily-item[aria-expanded='true']::before,
.daily-item[aria-selected='true']::before {
  transform: rotate(45deg);
}

.icon-small {
  width: 40px;
}

.daily-item-day {
  color: var(--sky-950);
  flex: 1 1;
  font-weight: 600;
  margin-left: 16px;
}

.daily-item-description {
  margin-right: 16px;
  text-align: right;
  color: var(--sky-600);
}

.daily-item-min-max {
  color: var(--sky-950);
  font-weight: 500;
}

.daily-details-container {
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 40px;
  grid-template-columns: auto auto;
  padding: 16px 16px 8px 16px;
  background-color: var(--sky-100);
  margin-bottom: 8px;
  margin-top: -9px;
  z-index: -10;
  border-radius: 0 0 4px 4px;
  border: 1px solid #00000010;
}

.daily-details-item {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
  justify-content: space-between;
}

.daily-details-item label:first-child {
  color: var(--sky-600);
}

.daily-details-item label:last-child {
  color: var(--sky-900);
  font-weight: 600;
}
